body{
  margin: 0px;
  padding: 0px;
  text-align: center;

  /* fuentes */
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

header{
  height: 100px;
  width: 100%;
  background: white;
  border-top: 4px solid rgb(0, 69, 116) ;
}

.center{
  width: 90%;
  margin: 0px auto;
}

.clearfix{
  clear: both;
  float: none;
}

#logo{
  width: 12rem;
  font-size: 30px;
  float: left;
}


#logo img{
  display: block;
  float: left;
  width: 100%;
}

.hamburger{
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 40px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  cursor: pointer;
}

#menu{
  width: 70%;
  float: right;
  font-size: 18px;
}

.menu-ul{
  line-height: 60px;
  width: 60%;
  float: right;
  margin-top: 40px;
margin-bottom: 0;
}

#menu ul li{
  display: block;
  display: inline-block;
  list-style: none;
  /* height: 40px; */
  margin-left: 20px;
  margin-right: 20px;
}

#menu a{
  text-decoration: none;
  color: black;
  transition: all 300ms;
}

#menu a:hover, .active{
  color: rgb(54, 117, 117) !important;
}


/* home image*/

.section-1{
  width: 100%;
   height: 600px;
   background: rgb(20, 20, 20);
}
.lazyloaded{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}


.loaded-phrase{
  position: absolute;
  top: 3rem;
  left: 3rem;
  text-align: left;
  width: 30%;
}

.title {
font-size: 6rem;
color: white;
text-shadow: 4px 4px 4px rgb(54, 50, 50);
}

/* tarjetas servicios */

.title-service{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.line{
  width: 5rem;
  height: 5px;
  background: #f3e304;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.cards-service {
  margin: 1rem;
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}
.card-service {
  margin: 10px;
  margin-bottom: 2rem;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.image-service img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}
.card-service .content {
  padding: 5px 30px;
}

.card-service .content h2{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.content p{
  font-size: 15px;
}

/* about us */
.about{
  display: inline-block;
  font-family: Roboto Condensed,sans-serif;
  width: 100%;
}

.mision{
  width: 50%;
  float: left;

}

.mision-center{
  width: 80%;
  margin: 0px auto;
  text-align: left;
}

.con{
  display: inline-block;
}

.t-m{
  margin-top: 3rem;
  font-size: 1.1rem;
  text-transform:uppercase;
  float: left;
}
.line-about {
  width: 5rem;
  height: 3px;
  background: #f3cf04;
  margin: auto;
  margin-bottom: 1rem;
  float: left;
  margin-top: 4.5rem;
  margin-left: 1rem;
}

.title-mision{
  font-size: 3rem;
  color: #20201e;
  margin-top: 1rem;
  text-transform:uppercase;
}

.tex-mision {
  line-height: 2;
}

.image-mision{
  width: 50%;
  height: 500px;
  float: left;
}

.image-mision img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */

.footer{
  width: 100%;
  background: #111131;
  color: white;
  font-size: 0.9rem;
}

.contact{
  width: 50%;
  /* background:#FFCC00;  */
  display: inline-block;
}

.namecontact{
  padding: 10px;
  float: left;
  /* background: #0493f3; */
}

.namecontact h2{
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}
.contactos{
  padding: 10px;
  text-align: left;
  /* background: #07ad68; */
  float: left;
}

.contactos  i{
  font-size: 20px;
  padding-right: 5px;

}
.cont{
  float: left;
}
.m{
  margin-left: 15px;
}
.copyright{
  font-size: 0.7rem;
  float: right;
  width: 30%;
}


/* error page */

#main{
  display: table;
  width: 100%;
  height: 75vh;
  text-align: center;
}

.fof{
  display: table-cell;
  vertical-align: middle;
}

.fof h1{
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
  color: #3f3f3c;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}


/* responsive */

@media (max-width :  1300px) {
  /* servicios */
  .cards-service {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width :  1130px) {

  /* portada home */
  .title {
    font-size: 5rem;
  }
  .section-1 {
    height: 500px;
  }
}

@media (max-width :  980px) {
  /* servicios */
   .cards-service {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width :  960px) {
  /* pie de pagina */
  .contact {
  width: 65%;
  }
}

@media (max-width :  940px) {

  /* portada home */
.title {
  font-size: 4rem;
}
  .section-1 {
    height: 450px;
  }
}

@media (max-width :  920px) {

  /* menu */
  #menu {
  width: 60%;
  }

  #menu ul {
    width: 100%;
  }
}

@media (max-width :  830px) {
   /* portada home */
  .section-1 {
    height: 400px;
  }
}

@media (max-width :  760px) {
    /* portada home */
  .title {
    font-size: 3.5rem;
  }
  .loaded-phrase {
    top: 4rem;
  }
    .section-1 {
    height: 350px;
  }
}

@media (max-width :  740px) {

  /* pie de pagina */
  .cont{
    float: none;
  }
  .m{
    margin-left: 0px;
    margin-top: 5px;
  }
}

@media (max-width :  670px) {
  
  /* menu */
  .hamburger{
    opacity: 1;
    visibility: visible;
  }

  .center {
    width: 100%;
  }
  #logo {
    margin-left: 2rem;
  }
  .menu-ul {
  background: white;
  position: absolute;
  top: 3rem;
  right: 0rem;
  z-index: 1;
  visibility: inherit;
  opacity: 0;
  transition: all 300ms;
  
}

.turn-on-menu{
  visibility: visible;
  opacity: 1;
}

  #menu ul li {
    display: block;
  }

  #menu a {
    padding: 1rem 5rem 1rem 5rem;
  }
  
  /* portada home */
  .title {
    font-size: 3rem;
  }

    .section-1 {
    height: 300px;
  }

}

@media (max-width :  660px) {
  /* servicios */
     .cards-service {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width :  570px) {
    /* portada home */
    .title {
      font-size: 2.5rem;
    }

    .loaded-phrase {
      top: 5rem;
    }
  
      .section-1 {
      height: 250px;
    }
}

@media (max-width :  470px) {
  /* portada home */
  .title {
    font-size: 2rem;
  }

    .section-1 {
    height: 200px;
  }
}

@media (max-width :  380px) {
  /* portada home */
  .title {
    font-size: 1.8rem;
  }
  .loaded-phrase {
    top: 6rem;
  }

    .section-1 {
    height: 180px;
  }
}